In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\franc\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\franc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\franc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\franc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\franc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\franc\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
import random 
path_file = "MTY-CO-2008.xslx.csv"
hoja = "data"
df = pd.read_csv(path_file)
prueba = random.randint(1, 25) 
ica = df.loc[prueba][6]
ica

0.7

In [4]:
df

           Fecha  Hora   CE   NE   NO   SE   SO
0     2008-01-01     0  3.4  1.6  2.6  4.8  3.0
1     2008-01-01     1  3.2  1.1  0.6  2.3  1.3
2     2008-01-01     2  1.3  0.7  0.5  0.5  0.8
3     2008-01-01     3  1.2  0.6  0.4  0.4  0.7
4     2008-01-01     4  1.0  0.4  0.4  0.3  0.6
...          ...   ...  ...  ...  ...  ...  ...
8774  2008-12-31    19  1.3  1.8  0.9  2.3  1.4
8775  2008-12-31    20  1.4  2.5  1.3  2.3  1.3
8776  2008-12-31    21  1.6  2.4  1.3  2.8  1.5
8777  2008-12-31    22  1.9  2.2  1.8  3.0  1.6
8778  2008-12-31    23  1.9  2.0  1.8  2.6  1.5

[8779 rows x 7 columns]